@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
  /* Đặt font mặc định */
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: fadeDown 0.2s ease;
}